* {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    margin: 0px;
}

body {
    background-color: #D1CCDC;
    color: black;
}

header {
    background-color: #424C55;
    padding: 20px;
    color: white;
    /* position: sticky;
    top: 0px; */
    position: fixed;
    width: 100%;
}

header h1 {
    display: inline-block;
    font-size: 200%;
}

nav {
    float: right;
    padding-right: 30px;
}

nav ul {
    list-style: none;
}

nav ul li {
    display: inline-block;
    padding: 10px;
}

nav a {
    text-decoration: none;
    color: white;
    font-size: 150%;
    font-weight: bolder;
}

main {
    padding: 110px 20px 75px 20px;
}
/* color palette #D1CCDC #424C55 #F5EDF0 #886F68 #3D2C2E */