:root {
    --navbarfootertextcolor: #fff;
    --bordercolor: 10px solid #372554;
    --contentmargin: 10px;
}

* {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    margin: 0px;
    text-decoration: none;
    text-align: center;
    list-style: none;
}

body {
    background-color: #000000;
    color: white;
}

header {
    background-color: #52528C;
    padding: 20px;
    color: var(--navbarfootertextcolor);
    position: fixed;
    width: 100%;
    text-align: left;
}

header h1 {
    display: inline-block;
    /* makes it so that the header/name in the nav bar is inline with the navbar instead of being on top of it */
    font-size: 200%;
}

nav {
    float: right;
    /* moves the elements in the nav bar to the right instead of just text-aligning to the right */
    padding-right: 30px;
}

nav ul li {
    display: inline-block;
    /* changes the display of the links from blocks to inline with one another */
    padding: 10px;
}

nav a {
    color: var(--navbarfootertextcolor);
    font-size: 150%;
    font-weight: bolder;
}

main {
    padding: 110px 20px 20px 20px;
    /* padding values in order are "top" "right" "bottom" "left" */
}

.contentheader {
    background-color: #52528C;
    padding: 20px;
    border-right: var(--bordercolor);
    border-left: var(--bordercolor);
    width: 400px;
    margin-right: auto;
    margin-left: auto;
}
    /* aside section will take up  25% of the screen width*/

.contentheader h2 {
    font-size: 300%;
}
/* color palette #7C9EB2 #52528C #372554 #231123 #000000 */

.aboutme img {
    margin: var(--contentmargin);
    height: 460px;
}

.aboutmecontent {
    margin: 20px 0px 20px 0px;
}


.projectscontent {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 900px;
    gap: var(--contentmargin);
    margin-top: var(--contentmargin);
    margin-right: auto;
    margin-left: auto;
}

.projectscontent img {
    vertical-align: bottom;
}
/* gets rid of padding at the bottom of images. credits: https://stackoverflow.com/questions/14053952/why-is-there-padding-at-the-bottom-of-my-image */

#featuredprojectmobile {
    display: none;
}

.card:hover {
    border: 5px solid #7C9EB2;
}

.projects {
    margin-top: 1%;
}

.contactme {
    border-top: var(--bordercolor);
    padding: 20px;
    background-color: #52528C;
}

footer {
    border-top: var(--bordercolor);
    padding: 20px;
}

footer a {
    display: inline-block;
    padding: 20px;
    color: var(--navbarfootertextcolor);
}

@media screen and (max-width:992px) {
    .projectscontent {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    #featuredproject {
        display: none;
    }

    #featuredprojectmobile {
        display: initial;
    }

    header {
        position: initial;
    }

    header h1 {
        display: block;
    }

    nav {
        float: none;
    }

    nav ul li{
        display: block;
    }

    main {
        padding-top: 10px;
    }

    .contentheader {
        width: 80%;
    }

    .aboutme img {
        width: 50%;
        height: 50%;
    }

    .card {
        margin-right: auto;
        margin-left: auto;
    }

    .contactme input {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
}